<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApt8P4yN3CfE--rz-u1vS1e8Kds9PH1dM</string>
	<key>GCM_SENDER_ID</key>
	<string>557279053867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAppChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ba439</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ba439.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557279053867:ios:d75cad30ce5b89a542c26e</string>
</dict>
</plist>